*{
    direction: rtl;
}

h1{
    font-size: xx-large;
    text-align: center;
    color: black;
    background-color: green;
    border: 3px solid black ;
    text-shadow: 3px 3px 5px grey;
    border-radius: 4px;
}
h3{
    font-size: large;
    color: brown;
}
p{
    color: grey;
}


